<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.icheero.plugin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".activity.PluginActivity"/>
        <activity android:name=".activity.AndFixActivity"/>
        <activity android:name=".activity.LoadPluginActivity"/>
        <service android:name=".framework.andfix.AndFixService"/>

        <meta-data
            android:name="com.icheero.plugin.application.PluginApplication"
            android:value="AppInit"/>
    </application>

</manifest>