<manifest package="com.icheero.reverse"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".activity.ReverseActivity"/>
        <activity android:name=".activity.JniActivity"/>
        <activity android:name=".activity.DisposeSoActivity"/>
        <activity android:name=".activity.DisposeManifestActivity"/>
    </application>
</manifest>
