<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.icheero.app"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".application.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cheero_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- region Activities -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ui.StyledActivity"/>
        <activity android:name=".activity.ui.CustomViewActivity"/>
        <activity android:name=".activity.ui.SectionsActivity"/>
        <activity android:name=".activity.ui.AnimActivity"/>
        <activity android:name=".activity.ui.DialogActivity"/>
        <activity android:name=".activity.ui.OptionActivity"/>
        <activity android:name=".activity.ui.touch.PanGestureScrollActivity"/>
        <activity android:name=".activity.ui.touch.PanScrollActivity"/>
        <activity android:name=".activity.network.WebViewActivity"/>
        <activity android:name=".activity.network.ImageDownloadActivity"/>
        <activity android:name=".activity.network.DownloadActivity"/>
        <activity android:name=".activity.media.CameraActivity"/>
        <activity android:name=".activity.data.CustomSettingActivity"/>
        <activity
            android:name=".activity.data.SystemSettingActivity"
            android:label="@string/cheero_app_title_activity_settings"/>
        <activity android:name=".activity.data.DatabaseActivity"/>
        <activity android:name=".activity.data.ViewModelActivity"/>
        <activity android:name=".activity.network.RetrofitActivity"/>
        <activity android:name=".activity.network.RequestActivity"/>
        <activity android:name=".activity.reverse.JniActivity"/>
        <activity android:name=".activity.reverse.DisposeSoActivity"/>
        <!-- endregion -->
        <!-- region Services -->
        <service
            android:name=".service.CheeroService"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="com.icheero.app.service.CheeroService"/>
            </intent-filter>
        </service>
    </application>

</manifest>